In [1]:
import pandas as pd
import numpy as np
from scipy.sparse import coo_matrix, save_npz, load_npz
from PIL import Image

In [2]:
width = 5865  # width of the original image
height = 7705 # length of the original image

In [3]:
B2A3_label_image = np.load(r"D:\Home\Dimitris\OneDrive - University College London\dev\Python\pciSeq\pciSeq\data\B2A3\B2A3_label_image.npz")['arr_0']

In [4]:
B2A3_label_image.shape

(71, 1282, 976)

In [5]:
B2A3_page_40 = B2A3_label_image[40,:, :]

In [6]:
_img = np.array(Image.fromarray(B2A3_page_40).resize((width, height), Image.NEAREST), dtype=np.uint32)

In [7]:
_img.shape

(7705, 5865)

In [8]:
save_npz('coo_B2A3_page_40.npz', coo_matrix(_img))

In [9]:
load_npz(r"coo_B2A3_page_40.npz")

<7705x5865 sparse matrix of type '<class 'numpy.uint32'>'
	with 12927639 stored elements in COOrdinate format>

In [23]:
coo

In [26]:
z_start = 35
z_end = 46
spots = pd.read_csv(r"D:\Home\Dimitris\OneDrive - University College London\dev\Python\pciSeq\pciSeq\data\B2A3\spots.csv")

In [27]:
spots.shape

(1009330, 4)

In [28]:
spots_35_46 = spots[(spots.z >= z_start) & (spots.z < z_end)]

In [29]:
spots_35_46.shape

(319173, 4)

In [31]:
spots_35_46[['x', 'y', 'Gene']].to_csv('spots_35_46.csv', index=False)

In [33]:
pd.read_csv('spots_35_46.csv')

                  x           y     Gene
0       3734.724607  6430.34901   Cxcl14
1       3736.724607  6165.34901     Rgs4
2       3736.724607  6185.34901  Neurod6
3       3736.724607  7199.34901  Neurod6
4       3737.724607  5975.34901     Snca
...             ...         ...      ...
319168  1977.929914  1047.00000    Gabrd
319169  1978.929914   177.00000  Neurod6
319170  1979.929914   324.00000   Cadps2
319171  1979.929914   338.00000    Cplx2
319172  2089.929914    48.00000    Cplx2

[319173 rows x 3 columns]

In [ ]:
    # read some demo data
    _iss_spots = pd.read_csv(os.path.join(ROOT_DIR, 'data', 'B2A3', 'spots_35_46.csv'))
    _coo = load_npz(os.path.join(ROOT_DIR, 'data', 'B2A3', 'coo_B2A3_page_40.npz'))

    _scRNAseq = pd.read_csv(os.path.join(ROOT_DIR, 'data', 'mouse', 'ca1', 'scRNA', 'scRNAseq.csv.gz'),
                            header=None, index_col=0, compression='gzip', dtype=object)
    _scRNAseq = _scRNAseq.rename(columns=_scRNAseq.iloc[0], copy=False).iloc[1:]
    _scRNAseq = _scRNAseq.astype(float).astype(np.uint32)